@import 'typography';
@import 'layout';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: $background;
}

main {
  width: 100%;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  @media screen and (min-width: 1200px) {
    width: 80%;
    margin: 2rem auto;
  }
}

#sidebar {
  height: 100%;
  min-width: 250px;
  padding: 1rem;
  background-color: $secondary;
  grid-column: span 3;
}

#profile {
  width: 100%;
  text-align: center;
  border-bottom: $border;
  padding: 1rem 0;

  img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
    border: 5px solid $primary;
    border-radius: 50%;
  }
}

#contact-icons {
  @extend %inner-grid;
  grid-template-columns: repeat(2, 4rem);
}

#stack-icons {
  @extend %inner-grid;
  grid-template-columns: repeat(3, 4rem);
}

.fa-brands {
  font-size: 3rem;
  color: $muted;
}

#js-logo {
  font-size: 3.7rem;
  margin-top: -5px;
}

#main-content {
  grid-column: span 9;
  height: 100%;
  background-color: $primary;
  padding: 1.5rem;
}

.content-container {
  margin-bottom: 2rem;
}

.entry-container {
  border-bottom: $border-dark;
  padding-block: 1rem;
}

.right {
  margin-top: -10px;
}

.content-icon {
  font-size: 2rem;
  margin: 0.5rem 0.5rem 0 0;
}

.lowercase {
  text-transform: none;
}

@media screen and (max-width: 1024px) {
  .flex {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .main-h2 {
    color: $primary;
    background-color: $secondary;
  }

  .entry-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-bottom: 2rem;
    border: none;
  }

  .right {
    margin-top: .2rem;
  }

  .timeline {
    position: relative;
    height: 145%;
  }

  .stylish {
    border-left: 3px solid $secondary;
    padding-left: 2rem;
  }

  .main-h4::before {
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color: $secondary;
    border-radius: 50%;
    transform: translateX(-63%);
    left: 0;
  }
}